/* style.css */
@font-face {
  font-family: 'UnifrakturCook';
  src: url('../fonts/UnifrakturCook-Bold.ttf') format('opentype');
}
.site-name {
  font-family: 'UnifrakturCook', sans-serif;
}

.title {
  font-family: 'UnifrakturCook', sans-serif;
}

/* Layout del giornale */
.newspaper-layout {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

@media (max-width: 800px) {
  .newspaper-layout {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

@media (max-width: 800px) {
  .header {
    text-align: left;
  }
}

.threads {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.thread {
  background-color: #f2f2f2;
  padding: 10px;
}

.thread-image {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px; /* Regola la larghezza dell'immagine */
  height: 100px; /* Regola l'altezza dell'immagine */
}

@media (max-width: 800px) {
  .thread-image {
    display: none;
  }
}

/* Visualizzazione del thread */
.thread-layout {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

@media (max-width: 800px) {
  .thread-layout {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

.thread-content {
  margin-top: 20px;
}

@media (max-width: 800px) {
  .thread-content {
    margin-top: 0;
  }
}

.posts {
  margin-top: 20px;
}

.post {
  background-color: #f2f2f2;
  padding: 10px;
  margin-bottom: 20px;
}

.post p {
  margin: 0;
}

.post .message {
  margin-top: 10px;
}

@media (max-width: 800px) {
  .posts {
    margin-top: 0;
  }
}

@media (max-width: 800px) {
  .post {
    margin-bottom: 0;
  }
}