<!DOCTYPE html>
<html>
<head>
  <title>Thread - The POL Times</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <div class="nyt-layout">
    <header>
      <div class="container">
        <h1 class ='title'>The POL Times</h1>
      </div>
    </header>
    <div class="main-content">
      <div class="container">
        <div class="thread-content">
          <h2><a href="{{ thread.thread_url }}" target="_blank">{{ thread.title }}</a></h2>
          <div class="posts">
           <!---
            {% for post in thread.posts %}
              <div class="post">
                <p><strong>{{ post.author }}</strong> - {{ post.date }}</p>
                <div class="message">{{ post.message }}</div>
              </div>
            {% endfor %}
          
          --> 
          
              <div class="post">
                <p><strong>{{ thread.message }}</strong></p>
                <div class="message">{{ thread.conversation }}</div>
              </div>
            
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="container">
        <p>&copy; 2023 4chan Reader. All rights reserved.</p>
      </div>
    </footer>
  </div>
</body>
</html>
